/**
 * @name EnhancedActivity
 * @author Fadexz
 * @version 1.0.3
 * @authorId 291872132898619392
 * @donate https://www.buymeacoffee.com/Fadexz
 * @description Makes the activity area larger including a larger and rounded image and allows two lines for each text to fit more of the status on-screen and more
 * @source https://github.com/Fadexz/EnhancedActivity
 * @website https://www.discord.gg/users/291872132898619392
 * @updateUrl https://github.com/Fadexz/EnhancedActivity/EnhancedActivity.theme.css
*/

/* Rounded Activity Cover Art + Larger Activity Cover Art */
.assetsLargeImageUserPopoutV2_ec599c {
    border-radius: 5px;
    width: 108px;
    height: 108px;
}

/*
.assetsLargeImage__57902 {
    border-radius: 4px;
}
*/

/* Profile Large Image Size */
.assetsLargeImageProfileV2__0f48c {
    width: 142px !important;
    height: 142px !important;
}

/* Popout Small Image Size */
.assetsSmallImageUserPopoutV2__3894e,
.assetsSmallImage__4c2f1 {
    width: 28px;
    height: 28px;
}

/* Profile Small Image Size */
.assetsSmallImageProfileV2__48f59 {
    width: 38px !important;
    height: 38px !important;
}

/* Fix Mask For Small Image Position */
.assetsLargeMaskUserPopoutV2_e54933,
.assetsLargeMaskProfileV2__4c908 {
    mask-size: cover;
    -webkit-mask-size: cover;
}

/* Fix Centring */
.activityDetails_b90109 {
    display: contents;
}

/* Use Multiple Lines For Status Text */
.ellipsis__46552 {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
}

/* Center-align Large Image */
.assets__5bee0 {
    align-self: center;
}

/* Transition Seekbar Seeking + Round Border */
.barInner__0f713 {
    transition: width 50ms;
    /*border-radius: 10px !important;*/
}

/* Higher Contrast On Seekbar */
.bar_e63719 {
    background-color: hsla(217,calc(var(--saturation-factor, 1)*7.6%),2%,.3);
}

/* Remove Disabled Spotify Listen Buttons (i.e own profile) */
.disabledButtonWrapper_b04230 {
    display: none;
}
/*actionsUserPopoutV2__46596*/
.actionsProfileV2-2xJe2L {
    margin-left: 0px;
}
